<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
 <div align="center">
 <table width="999" border="1">
  <tr>
    <td width="251"><div align="right">Event Id </div></td>
    <td colspan="3"><input name="event_id" type="text" id="event_id" /></td>
    </tr>
  <tr>
    <td><div align="right">Event Name </div></td>
    <td colspan="3"><input name="event_name" type="text" id="event_name" /></td>
    </tr>
  <tr>
    <td><div align="right">Event Description </div></td>
    <td colspan="3"><input name="event_desc" type="text" id="event_desc" /></td>
    </tr>
  <tr>
    <td><div align="right">Event Detail </div></td>
    <td colspan="3"><input name="event_detail" type="text" id="event_detail" /></td>
    </tr>
  <tr>
    <td height="88"><div align="right">Event Organisers </div></td>
    <td width="260"><label>name
        <input name="event_organiser_name" type="text" id="event_organiser_name" />
        <br />
    </label></td>
    <td width="261">email
      <input name="event_organiser_email" type="text" id="event_organiser_email" /></td>
    <td width="199">contact
      <input name="event_organiser_contact" type="text" id="event_organiser_contact" /></td>
  </tr>
  <tr>
    <td><div align="right">Event Logo </div></td>
    <td colspan="3"><input name="event_logo" type="text" id="event_logo" /></td>
    </tr>
  <tr>
    <td><div align="right">Event Prize money </div></td>
    <td colspan="3"><input name="event_id9" type="text" id="event_id9" /></td>
    </tr>
  <tr>
    <td height="84"><label></label>
      <div align="center">
        <input name="show" type="submit" id="show" value="show" />
      </div></td>
    <td><div align="center">
      <input name="insert" type="submit" id="insert" value="insert" />
    </div></td>
    <td><div align="center">
      <input name="update" type="submit" id="update" value="update" />
    </div></td>
    <td><div align="center">
      <input name="delete" type="submit" id="delete" value="delete" />
    </div></td>
  </tr>
</table>

  </div>
</form>
</body>
</html>
